body{
	margin-left:2em;
	margin-top:2em;
}
a{
	background: yellow;
	padding:.4em;
	margin-right: 0.5em;
	border: outset #1E90FF;
	border-radius: 20px;
}

a:hover{
	background: blue;
	cursor: pointer;
}

#suma{
	background: grey;
}

#resta{
	background: green;
}
#multiplicacion{
	background: purple;
}
#division{
	background: orange;
}

#borrar{
	background: red;
}

#display{
	background: blue;
	padding:.4em;
	border: inset #696969;
}